


.portfolio-grid {
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, rgb(105, 108, 110));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.my-info {
    
    font-family: 'Arial', serif;   
  font-size: 32px;
  /* text-shadow: 4px 4px 4px #aaa; */
  Padding: 2em;

}
